-- MySQL dump 10.13  Distrib 8.0.31, for Linux (x86_64)
--
-- Host: localhost    Database: fifa_squad_builder
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Formations`
--

DROP TABLE IF EXISTS `Formations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Formations` (
  `formation_id` int NOT NULL,
  `n_back` int NOT NULL,
  `n_mid` int NOT NULL,
  `n_front` int NOT NULL,
  PRIMARY KEY (`formation_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Formations`
--

LOCK TABLES `Formations` WRITE;
/*!40000 ALTER TABLE `Formations` DISABLE KEYS */;
INSERT INTO `Formations` VALUES (1,3,5,2),(2,4,4,2),(3,4,5,1),(4,4,3,3);
/*!40000 ALTER TABLE `Formations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `MarketOffers`
--

DROP TABLE IF EXISTS `MarketOffers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `MarketOffers` (
  `offer_id` int NOT NULL AUTO_INCREMENT,
  `player_id` int NOT NULL,
  `user_id` int NOT NULL,
  `merchant_id` int DEFAULT NULL,
  `listed_at` datetime NOT NULL,
  `valid_until` datetime NOT NULL,
  `price` float DEFAULT NULL,
  `status` text,
  PRIMARY KEY (`offer_id`),
  KEY `MarketOffersCurrent_Users_user_id_fk` (`user_id`),
  KEY `MarketOffersCurrent_Users_user_id_fk_2` (`merchant_id`),
  KEY `MarketOffersCurrent_players_player_id_fk` (`player_id`),
  CONSTRAINT `MarketOffersCurrent_players_player_id_fk` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`),
  CONSTRAINT `MarketOffersCurrent_Users_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `Users` (`user_id`),
  CONSTRAINT `MarketOffersCurrent_Users_user_id_fk_2` FOREIGN KEY (`merchant_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `MarketOffers`
--

LOCK TABLES `MarketOffers` WRITE;
/*!40000 ALTER TABLE `MarketOffers` DISABLE KEYS */;
/*!40000 ALTER TABLE `MarketOffers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Squads`
--

DROP TABLE IF EXISTS `Squads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Squads` (
  `squad_id` int NOT NULL,
  `formation_id` int NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`squad_id`),
  KEY `formation_id` (`formation_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `formation_id` FOREIGN KEY (`formation_id`) REFERENCES `Formations` (`formation_id`),
  CONSTRAINT `Squads_Users_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Squads`
--

LOCK TABLES `Squads` WRITE;
/*!40000 ALTER TABLE `Squads` DISABLE KEYS */;
INSERT INTO `Squads` VALUES (1,4,1),(2,3,2);
/*!40000 ALTER TABLE `Squads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `UserPlayers`
--

DROP TABLE IF EXISTS `UserPlayers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `UserPlayers` (
  `user_id` int NOT NULL,
  `player_id` int NOT NULL,
  `position` int DEFAULT NULL,
  KEY `player_id` (`player_id`),
  KEY `users_id` (`user_id`),
  CONSTRAINT `player_id` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`),
  CONSTRAINT `users_id` FOREIGN KEY (`user_id`) REFERENCES `Users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `UserPlayers`
--

LOCK TABLES `UserPlayers` WRITE;
/*!40000 ALTER TABLE `UserPlayers` DISABLE KEYS */;
INSERT INTO `UserPlayers` VALUES (1,0,NULL),(1,6,NULL),(1,3,NULL),(1,21,NULL),(1,22,NULL),(1,26,NULL),(1,33,NULL),(1,38,NULL),(1,39,NULL),(1,95,NULL),(1,101,NULL),(3,20,NULL),(2,0,8),(2,1,9),(2,2,10),(2,4,6),(2,5,0),(2,10,7),(2,6,5),(2,22,2),(2,39,3),(2,50,1),(2,80,4),(2,14,NULL);
/*!40000 ALTER TABLE `UserPlayers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Users`
--

DROP TABLE IF EXISTS `Users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Users` (
  `user_id` int NOT NULL,
  `username` text NOT NULL,
  `balance` int DEFAULT '1000',
  `formation_id` int DEFAULT '2',
  PRIMARY KEY (`user_id`),
  KEY `Users_Formations_formation_id_fk` (`formation_id`),
  CONSTRAINT `Users_Formations_formation_id_fk` FOREIGN KEY (`formation_id`) REFERENCES `Formations` (`formation_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Users`
--

LOCK TABLES `Users` WRITE;
/*!40000 ALTER TABLE `Users` DISABLE KEYS */;
INSERT INTO `Users` VALUES (1,'admin',2060,2),(2,'milosz',100,2),(3,'testuser',340,2);
/*!40000 ALTER TABLE `Users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clubs`
--

DROP TABLE IF EXISTS `clubs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clubs` (
  `club_id` int NOT NULL AUTO_INCREMENT,
  `club_name` text,
  UNIQUE KEY `clubs_club_id_uindex` (`club_id`)
) ENGINE=InnoDB AUTO_INCREMENT=115821 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clubs`
--

LOCK TABLES `clubs` WRITE;
/*!40000 ALTER TABLE `clubs` DISABLE KEYS */;
/*!40000 ALTER TABLE `clubs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leagues`
--

DROP TABLE IF EXISTS `leagues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leagues` (
  `league_id` int NOT NULL,
  `league_name` text,
  UNIQUE KEY `leagues_league_id_uindex` (`league_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leagues`
--

LOCK TABLES `leagues` WRITE;
/*!40000 ALTER TABLE `leagues` DISABLE KEYS */;
/*!40000 ALTER TABLE `leagues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nationality`
--

DROP TABLE IF EXISTS `nationality`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nationality` (
  `nationality_id` int NOT NULL AUTO_INCREMENT,
  `nationality_name` text,
  UNIQUE KEY `nationality_nationality_id_uindex` (`nationality_id`)
) ENGINE=InnoDB AUTO_INCREMENT=220 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nationality`
--

LOCK TABLES `nationality` WRITE;
/*!40000 ALTER TABLE `nationality` DISABLE KEYS */;
/*!40000 ALTER TABLE `nationality` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `player_id` int DEFAULT NULL,
  `player_name` text,
  `nationality_id` int DEFAULT NULL,
  `club_id` int DEFAULT NULL,
  `league_id` int DEFAULT NULL,
  `player_positions` text,
  `overall` int DEFAULT NULL,
  `pace` int DEFAULT NULL,
  `shooting` int DEFAULT NULL,
  `passing` int DEFAULT NULL,
  `dribbling` int DEFAULT NULL,
  `defending` int DEFAULT NULL,
  `physic` int DEFAULT NULL,
  `goalkeeping_diving` int DEFAULT NULL,
  `goalkeeping_handling` int DEFAULT NULL,
  `goalkeeping_kicking` int DEFAULT NULL,
  `goalkeeping_positioning` int DEFAULT NULL,
  `goalkeeping_reflexes` int DEFAULT NULL,
  `goalkeeping_speed` int DEFAULT NULL,
  `ls` text,
  `st` text,
  `rs` text,
  `lw` text,
  `lf` text,
  `cf` text,
  `rf` text,
  `rw` text,
  `lam` text,
  `cam` text,
  `ram` text,
  `lm` text,
  `lcm` text,
  `cm` text,
  `rcm` text,
  `rm` text,
  `lwb` text,
  `ldm` text,
  `cdm` text,
  `rdm` text,
  `rwb` text,
  `lb` text,
  `lcb` text,
  `cb` text,
  `rcb` text,
  `rb` text,
  `gk` text,
  UNIQUE KEY `players_player_id_uindex` (`player_id`),
  KEY `club_id` (`club_id`),
  KEY `league_id` (`league_id`),
  KEY `nationality_id` (`nationality_id`),
  CONSTRAINT `club_id` FOREIGN KEY (`club_id`) REFERENCES `clubs` (`club_id`),
  CONSTRAINT `league_id` FOREIGN KEY (`league_id`) REFERENCES `leagues` (`league_id`),
  CONSTRAINT `nationality_id` FOREIGN KEY (`nationality_id`) REFERENCES `nationality` (`nationality_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-01-29 18:11:50
